{% extends "core/base.html" %}

{% block title %}{{ chat.name }}{% endblock %}

{% block content %}
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">{{ chat.name }}</h1>
    </div>

    <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <div class="chat-messages space-y-3" id="chat-messages" style="height: 400px; overflow-y: auto;">
            {% for message in messages %}
                <div class="p-4 bg-gray-200 rounded-xl">
                    <p class="font-semibold">{{ message.user.username }}</p>
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form action="." method="post" class="flex">
            {% csrf_token %}
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Type a message..." id="message-input">
            <button type="submit" class="px-5 py-3 bg-teal-600 text-white rounded-xl hover:bg-teal-700" id="message-submit-btn">Send</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
{{ chat.slug|json_script:"json-chatName" }}
{{ request.user.username|json_script:"json-username" }}

    <script>
        const chatName = JSON.parse(document.getElementById("json-chatName").textContent);
        const username = JSON.parse(document.getElementById("json-username").textContent);
        const chatMessages = document.querySelector("#chat-messages");
        const messageInput = document.querySelector("#message-input");
        const messageSubmitBtn = document.querySelector("#message-submit-btn");
        const messageClasses = ["p-4", "bg-gray-200", "rounded-xl"];

        const scrollToBottom = () => {
            chatMessages.scrollTop = chatMessages.scrollHeight;
        };

        scrollToBottom();

        const socket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/"
            + chatName
            + "/"
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (!data.message) {
                console.error("Empty message received");
                return;
            }

            const messageElement = document.createElement("div");
            messageElement.classList.add(...messageClasses)

            const usernameElement = document.createElement("p");
            usernameElement.classList.add("font-semibold");
            usernameElement.textContent = data.username;

            const messageContentElement = document.createElement("p");
            messageContentElement.textContent = data.message;

            messageElement.appendChild(usernameElement);
            messageElement.appendChild(messageContentElement);

            chatMessages.appendChild(messageElement);
            scrollToBottom();
        };

        socket.onclose = function(e) {
            console.warn("Socket closed: ", e);
        };

        messageSubmitBtn.addEventListener("click", function(e) {
            e.preventDefault();
            const message = messageInput.value;

            socket.send(JSON.stringify({
                "message": message,
                "username": username,
                "chat_name": chatName
            }));

            messageInput.value = "";
            scrollToBottom();

            return false;
        });
    </script>
{% endblock %}
